.Change {
  width: 75px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 2px rgb(231, 226, 226);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #c4bebe;
  height: 1.75%;
}
.User-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center
}
.Test-button {
  width: 75%
}
