.Change {
  width: 75px;
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 2px rgb(231, 226, 226);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #c4bebe;
  height: 1.75%;
}
.User-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center
}
.Test-button {
  width: 75%
}
.Categories {
  background-color: #d9d9d9;
  padding: 0px;
  text-align: center;
  font-size: 1.3em;
  margin: 10px 0px 10px 0px;
}
.SubCategory {
  padding: 5px 0px 0px 10px
}
.Style-button {
  position: -webkit-sticky;
  position: sticky;
  top: 10rem;
}