@import url('https://fonts.googleapis.com/css?family=Tangerine|Lobster|Dancing+Script|Shadows+Into+Light|Amatic+SC|Abril+Fatface|Permanent+Marker|Righteous|Cinzel|Courgette|Caveat|Josefin+Slab|Monoton|Audiowide|Homemade+Apple|Nothing+You+Could+Do|Mr+Dafoe|Libre+Barcode+39+Extended|Fredericka+the+Great|Black+Ops+One|Ubuntu+Mono|Chewy|Michroma|Berkshire+Swash|VT323|Notable|Annie+Use+Your+Telescope|Faster+One');

button {
  font-family: 'Courier New', Courier, monospace;
  color:  rgb(105, 94, 94);
  width: 50px;
  font-size: 16px;
  border-radius: 1%;
  padding: 5px;
  font-variant: small-caps;
  outline: none;
  border: none;
}
form {
  text-align: left;
}
input[type="text"] {
  border-bottom: 1px solid #d9d9d9;
  margin-right: 5px;
  outline: 0px;
  width: 200px;
  height: 30px;
}
a {
  color:  rgb(105, 94, 94);
}
#Nav-bar {
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.3em;
  color: #737373;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(1fr);
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
  margin: 0px 0px 10px 0px;
  padding: 20px;
  /* border: 1px solid grey; */
  background-color: #e6ffff
}
#Nav-bar > div {
  grid-column: span 1;
}
#Grid-container {
  font-family: 'Courier New', Courier, monospace;
  color: #737373;
  display: grid;
  grid-auto-rows: fit-content(40%);
  grid-template-columns: repeat(4, 1fr);
  /* grid-gap: 10px; */
  height: 100vh;
  margin-top: 40px;
  text-align: center;
  margin: 10px;
}
#Grid-container > .Grid-item-1{
  font-family: 'monoton';
  grid-column: span 4;
  grid-row: 1/2;
  padding-bottom: 30px;
  padding-top: 20px;
  font-size: 3.2em;
  word-spacing: 30px;
  color: #c4bebe
  /* background-color: #4d4d4d; */
}
#Grid-container > .Grid-item-3 {
  grid-column: 2/4;
  grid-row: 2/4;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid grey;
  border-style: dashed;
}
#Grid-container > .Grid-item-2 {
  grid-column: span 4;
  grid-row: fit-content(40%);
  margin: 0px 10px 0px 10px;
  text-align: center;
  display: grid;
  grid-template-rows: fit-content(40%);
  grid-template-columns: repeat(4, 1fr);
}
.Grid-item-2 > div {
  grid-column: span 1;
  padding: 10px 0px 10px 0px;
}
#Grid-container > .Grid-item-5 {
  grid-column: span 1;
  grid-row: fit-content(40%);
  /* border: 1px solid grey; */
  background-color: #f2f2f2;
  text-align: left;
  /* padding: 20px; */
  border: 1px solid #d9d9d9;
  grid-gap: 10px;
  margin: 0px 20px 0px 20px;
}
#Grid-container > .Grid-item-6 {
  grid-column: span 3;
  grid-row: fit-content(40%);
  text-align: center;
  grid-gap: 10px;
  margin: 10% 25% 25% 25%;
  /* padding: 200px 100px 100px 100px; */
}
#Grid-container > .Grid-item-7 {
  grid-column: span 4;
  grid-row: fit-content(40%);
  text-align: center;
  margin: 2% 5% 0% 5%;
}
#Grid-container > .Grid-item-8 {
  grid-column: span 4;
  grid-row: fit-content(40%);
  text-align: left;
  /* grid-gap: 10px; */
  margin: 0% 10% 2% 10%;
}




